!!! 5
%html{lang:"en", 'xmlns:fb':"http://ogp.me/ns/fb#", 'xmlns:fb':"http://ogp.me/ns/fb#", 'xmlns:og':"http://ogp.me/ns#"}
  %head
    %meta{name:"viewport", content:"initial-scale=1.6, maximum-scale=1.0, width=device-width" }
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %title AT&T HTML5 U-verse POC
    %link{rel:'stylesheet', href:'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700'}
    %link{rel:'stylesheet', href:'http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css'}
    %link{rel:'stylesheet', href:'/css/site.css'}
  %body
    #deviceDetection
    %img.animImage{src:"/img/att_logo_black_globe_only.png"}
    #debug
      %script{src:"/javascripts/poc/namespace.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/underscore.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery-1.9.1.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery-ui-1.10.3.custom.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery-migrate-1.1.1.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery.throttledresize.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/modernizr-latest.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/detectizr.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/screenfull.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/utils/detect.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/utils/transformLogo.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery.total-storage.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery-social-share-buttons/js/jquery.social.share.2.2.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery.prettify.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/utils/strings.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/knockout-2.2.0.debug.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/knockout.mapping-latest.debug.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/infuser.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/TrafficCop.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/koExternalTemplateEngine_all.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/sammy/lib/sammy.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/sammy/lib/plugins/sammy.mustache.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/sammy/lib/plugins/sammy.json.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery.overlayImageCheck.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/jquery.transit.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/data/providers/names.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/data/providers/api.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/data/api/embedly.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/data/api/data.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/three.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/tween.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/TrackballControls.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/libs/CSS3DRenderer.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/router.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/data/layout/presets.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/grid/layout.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/grid/details.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/grid/elements.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/data/layout/buttons.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/models/view/menu.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/poc/models/view/search.js", type:'text/javascript', charset:'utf-8'}
    #container.container-fluid
      #main
  %div#fb-root
  :javascript
    $().ready(function(){
      poc.Router.init();
      Modernizr.Detectizr.detect({
        addAllFeaturesAsClass: true,
        detectDevice: true,
        detectDeviceModel: true,
        detectScreen: true,
        detectOS: true,
        detectBrowser: true,
        detectPlugins: true
      });
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=199138240235122";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      if ($('.animImage').length > 0) {
        setTimeout(poc.Utils.Transformlogo.start,3000);
      }
    });