!!! 5
%html{lang:"en", 'xmlns:fb':"http://ogp.me/ns/fb#", 'xmlns:fb':"http://ogp.me/ns/fb#", 'xmlns:og':"http://ogp.me/ns#"}
  %head
    %meta{name:"viewport", content:"initial-scale=1.6, maximum-scale=1.0, width=device-width" }
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %title AT&T HTML5 U-verse POC
    %link{rel:'stylesheet', href:'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700'}
    %link{rel:'stylesheet', href:'http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css'}
    %link{rel:'stylesheet', href:'/css/site.css'}
  %body
    #deviceDetection
    %img.animImage{src:"/img/att_logo_black_globe_only.png"}
    #prod
      %script{src:"http://code.jquery.com/jquery-1.9.1.min.js", type:'text/javascript', charset:'utf-8'}
      %script{src:"/javascripts/build/poc.min.js", type:'text/javascript', charset:'utf-8'}
    #container.container-fluid
      #main
  %div#fb-root
  :javascript
    $().ready(function(){
      poc.Router.init();
      Modernizr.Detectizr.detect({
        addAllFeaturesAsClass: true,
        detectDevice: true,
        detectDeviceModel: true,
        detectScreen: true,
        detectOS: true,
        detectBrowser: true,
        detectPlugins: true
      });
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=199138240235122";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      if ($('.animImage').length > 0) {
        setTimeout(poc.Utils.Transformlogo.start,3000);
      }
    });