!!! 5
%html{lang:"en"}
  %head
    %meta{name:"viewport", content:"width=device-width"}
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %title Test
    %script{src:"/javascripts/libs/jquery-1.9.1.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/underscore.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/jquery.simpleCenter.js", type:'text/javascript', charset:'utf-8'}
    %script{src:"/javascripts/libs/jquery.overlayImageCheck.js", type:'text/javascript', charset:'utf-8'}
    %link{rel:'stylesheet', href:'/css/test.css'}
  %body
    %div#prodivers.white.rounded-corners.shadow
      %input#youtube{type: 'checkbox'}
    :javascript
      $().ready(function(){
        $('#youtube').overlayImageCheck({
          image: 'http://c2548752.cdn.cloudfiles.rackspacecloud.com/youtube.ico',
          imageChecked: '/img/smallCheckMark.png',
          width: '33px',
          height: '33px',
          overlayCheckedImage: true
        });
      });
