/* layout  */
html {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
  font-size: 100%;
  line-height: 1px;
  height: 100%;
}

a {
  text-decoration: none;
}

#container {
  height: 100%;
}

/* Background CSS */
.animImage {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  z-index: 2;
}
/* Responsive Design For Menu*/
/* desktop */
.desktop {
  @media screen and (min-width: 1100px) and (max-width: 1024px) {
    body { font-size:120%;}
  }

  @media screen and (min-width: 1100px) and (max-width: 800px) {
    body { font-size:90%;}
  }

  /* iPhone4 emulator on desktop */
  /* Portrait*/
  @media screen and (max-width: 400px) and (max-height: 480px) {
    body { font-size:70%;}
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
      margin-top: 74px;
      margin-bottom: 40px;
    }
  }

  /*Landscape*/
  @media screen and (max-width: 480px) and (max-height: 320px) {
    body { font-size:70%;}
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
      float: right;
      width: auto;
      min-width: 0;
      display: table;
      margin-right: 23px;
    }
  }
}

/* iPhone4  */
.mobile {
  /*Landscape*/
  @media screen and (max-device-width: 480px) and (orientation: landscape) {
    body { font-size:70%;}
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
      float: right;
      width: auto;
      min-width: 0;
      display: table;
      margin-right: 23px;
    }
  };
  /* Portrait*/
  @media screen and (max-device-width: 320px) and (orientation: portrait) {
    body { font-size:70%;}
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
      margin-top: 74px;
      margin-bottom: 40px;
    }
  };
}
/* iPad 2*/
.tablet {
  /* Landscape*/
  @media (max-device-width: 1024px) and (orientation: landscape) {};
  /* Portrait TODO*/
  @media (max-device-width: 768px) and (orientation: portrait) {};
}
/*TV TODO */
@media tv and (min-device-width: 1280px) {};