/* layout  */
html {
  height: 100%;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;
}
body {
  background-color: #000000;
  font-size: 100%;
  line-height: 1px;
  height: 100%;
}
a {
  text-decoration: none;
}
#container {
  height: 100%;
}
/* Background CSS */
.animImage {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  z-index: 2;
}
/* Responsive Design For Menu*/
/* desktop */
.desktop {
  /* iPhone4 emulator on desktop */

  /* Portrait*/

  /*Landscape*/

}
@media screen and (min-width: 1100px) and (max-width: 1024px) {
  .desktop body {
    font-size: 120%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 800px) {
  .desktop body {
    font-size: 90%;
  }
}
@media screen and (max-width: 400px) and (max-height: 480px) {
  .desktop body {
    font-size: 70%;
  }
  .desktop [class*="span"],
  .desktop .uneditable-input[class*="span"],
  .desktop .row-fluid [class*="span"] {
    margin-top: 74px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) and (max-height: 320px) {
  .desktop body {
    font-size: 70%;
  }
  .desktop [class*="span"],
  .desktop .uneditable-input[class*="span"],
  .desktop .row-fluid [class*="span"] {
    float: right;
    width: auto;
    min-width: 0;
    display: table;
    margin-right: 23px;
  }
}
/* iPhone4  */
.mobile {
  /*Landscape*/

  /* Portrait*/

}
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  .mobile body {
    font-size: 70%;
  }
  .mobile [class*="span"],
  .mobile .uneditable-input[class*="span"],
  .mobile .row-fluid [class*="span"] {
    float: right;
    width: auto;
    min-width: 0;
    display: table;
    margin-right: 23px;
  }
}
@media screen and (max-device-width: 320px) and (orientation: portrait) {
  .mobile body {
    font-size: 70%;
  }
  .mobile [class*="span"],
  .mobile .uneditable-input[class*="span"],
  .mobile .row-fluid [class*="span"] {
    margin-top: 74px;
    margin-bottom: 40px;
  }
}
/* iPad 2*/
.tablet {
  /* Landscape*/

  /* Portrait TODO*/

}
@media (max-device-width: 1024px) and (orientation: landscape) {
  
}
@media (max-device-width: 768px) and (orientation: portrait) {
  
}
/*TV TODO */
@media tv and (min-device-width: 1280px) {
  
}
