@import 'base';

/*   Menu  */

@icon_color: rgba(0, 127, 127, 0.9);
@icon_shadow: rgba(127,255,255,0.75);

/* global vars and functions */

/* icons */

.detail(){
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1em;
}

.icon-remove-sign {
  right: 10px;
  font-size: 2.61em;
  color: @icon_color;
  &:hover {
    font-size: 2.61em;
    .text-shadow(@icon_shadow, -1px, 1px, 0);
    cursor: pointer;
  }
  &:before {
    font-size: 2.61em;
    color: @icon_color;
  }
}

li [class^=icon-],
li [class*=" icon-"],
li [class^="icon-"],
a [class^=icon-],
a [class*=" icon-"],
a [class^="icon-"],
[class^=icon-],
[class^="icon-"],
[class*=" icon-"] {
  font-size: 2.61em;
  color: @icon_color;
  &:hover {
    font-size: 2.61em;
    .text-shadow(@icon_shadow, -1px, 1px, 0);
    cursor: pointer;
  }
  &:before {
    font-size: 2.61em;
    color: @icon_color;
  }
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

div {
  .details {
    .detail();
    .text-shadow(@icon_shadow, 1px, 0px, 0);
  }
}

