/*   Menu  */
/* global vars and functions */
/* icons */
.icon-remove-sign {
  right: 10px;
  font-size: 2.61em;
  color: rgba(0, 127, 127, 0.9);
}
.icon-remove-sign:hover {
  font-size: 2.61em;
  -moz-text-shadow: rgba(127, 255, 255, 0.75) -1px 1px 0;
  -webkit-text-shadow: rgba(127, 255, 255, 0.75) -1px 1px 0;
  text-shadow: -1px 0 rgba(127, 255, 255, 0.75), 0 1px rgba(127, 255, 255, 0.75), 1px 0 rgba(127, 255, 255, 0.75), 0 -1px rgba(127, 255, 255, 0.75);
  cursor: pointer;
}
.icon-remove-sign:before {
  font-size: 2.61em;
  color: rgba(0, 127, 127, 0.9);
}
li [class^=icon-],
li [class*=" icon-"],
li [class^="icon-"],
a [class^=icon-],
a [class*=" icon-"],
a [class^="icon-"],
[class^=icon-],
[class^="icon-"],
[class*=" icon-"] {
  font-size: 2.61em;
  color: rgba(0, 127, 127, 0.9);
}
li [class^=icon-]:hover,
li [class*=" icon-"]:hover,
li [class^="icon-"]:hover,
a [class^=icon-]:hover,
a [class*=" icon-"]:hover,
a [class^="icon-"]:hover,
[class^=icon-]:hover,
[class^="icon-"]:hover,
[class*=" icon-"]:hover {
  font-size: 2.61em;
  -moz-text-shadow: rgba(127, 255, 255, 0.75) -1px 1px 0;
  -webkit-text-shadow: rgba(127, 255, 255, 0.75) -1px 1px 0;
  text-shadow: -1px 0 rgba(127, 255, 255, 0.75), 0 1px rgba(127, 255, 255, 0.75), 1px 0 rgba(127, 255, 255, 0.75), 0 -1px rgba(127, 255, 255, 0.75);
  cursor: pointer;
}
li [class^=icon-]:before,
li [class*=" icon-"]:before,
li [class^="icon-"]:before,
a [class^=icon-]:before,
a [class*=" icon-"]:before,
a [class^="icon-"]:before,
[class^=icon-]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-size: 2.61em;
  color: rgba(0, 127, 127, 0.9);
}
.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}
.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
div .details {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1em;
  -moz-text-shadow: rgba(127, 255, 255, 0.75) 1px 0px 0;
  -webkit-text-shadow: rgba(127, 255, 255, 0.75) 1px 0px 0;
  text-shadow: 1px 0 rgba(127, 255, 255, 0.75), 0 0px rgba(127, 255, 255, 0.75), 0px 0 rgba(127, 255, 255, 0.75), 0 1px rgba(127, 255, 255, 0.75);
}
