/* Social Media Plugin */

/* Button panel */
.dcssb-float .dcssb-content {
//  background: #fff;
  background: #000000;
  padding: 10px 10px 5px 10px;
  text-align: center;
  width: 60px;
 // border: 1px solid #ccc;
 // border-radius: 3px;
  -webkit-border-radius: 3px;
}
.dcssb-btn {
  margin-bottom: 5px;
}
.dcssb-btn.size-horizontal {
  width: 80px;
  height: 24px;
}
.dcssb-btn.size-none {
  width: 60px;
  height: 24px;
}
.dcssb-btn.size-vertical {
  width: 60px;
  height: 62px;
}
/* Button specific styling */
/* Digg */
.dcssb-digg.size-vertical {
  height: 68px;
}
/* Delicious */
.dcssb-delicious div {
  margin: 0 auto;
}
/* LinkedIn */
.dcssb-linkedin.size-horizontal {
  width: 65px;
}
/* Buffer */
.dcssb-buffer.size-horizontal {
  width: 85px;
}
/* Print & Email */
.dcssb-print.size-horizontal, .dcssb-print.size-none, .dcssb-email.size-horizontal, .dcssb-email.size-horizontal {
  width: 56px;
}
.dcssb-print.size-vertical, .dcssb-email.size-vertical {
  height: 24px;
}
.link-email, .link-print {
  padding-left: 20px;
  display: block;
  font: bold 11px/18px Arial, sans-serif;
  height: 20px;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #DEDEDE);
  border: 1px solid #bbb;
  border-radius: 3px 3px 3px 3px;
  max-width: 98%;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.link-print .icon, .link-email .icon {
  display: block;
  width: 14px;
  height: 12px;
  position: absolute;
  left: 4px;
  top: 4px;
}
.link-print .icon {
  background: url(../images/icon_print.png) no-repeat 0 0;
}
.link-email .icon {
  background: url(../images/icon_email.png) no-repeat 0 0;
}
.link-email:hover, .link-print:hover {
  background-color: #e8e8e8;
  border: 1px solid #999;
  background-image: -moz-linear-gradient(center top , #f8f8f8, #cecece);
}

/* Pinterest */
.dcssb-pinterest {
  position: relative;
  width: 60px;
}
.dcssb-pinterest.size-horizontal, .dcssb-pinterest.size-none {
  height: 20px;
}
.dcssb-pinterest.size-horizontal {
  width: 70px;
}
.dcssb-pinterest-button {
  height: 25px;
  margin: 0;
  padding: 0 0 10px 0;
}
.pinItButton {
  position: absolute;
  background: url(../images/pinterest.png);
  font: 11px Arial, sans-serif;
  text-indent: -9999em;
  font-size: .01em;
  color: #CD1F1F;
  height: 22px;
  width: 47px;
  background-position: 0 -37px;
  bottom: 0;
  left: 50%;
  margin-left: -24px;
}
.pinItButton:hover {
  background-position: 0 -58px;
  background-color: none;
}
.pinterest-counter-count{
  font: 12px/12px Arial,Helvetica,sans-serif;
  height: 29px;
  padding: 9px 0 0;
  text-align: center;
  width: 47px;
  background: url(../images/pinterest.png) no-repeat 0 0;
  color: #777777;
  position: absolute;
  bottom: 23px;
  right: 8px;
}
.size-horizontal .pinItButton {
  left: 0;
  margin-left: 0;
}
.size-horizontal .pinterest-counter-count{
  font: 11px/11px Arial,Helvetica,sans-serif;
  height: 15px;
  padding: 3px 0 0;
  text-align: center;
  width: 21px;
  background: url(../images/pinit-count-s.png) no-repeat 0 0;
  color: #777777;
  position: absolute;
  bottom: 1px;
  right: 0;
}
.size-none .pinterest-counter-count{
  display: none;
}

.dcssb-facebook {
  margin-top: '20px';
}

// FACEBOOK
.fb_link img{border:none}

/* @noflip */
/* @noflip */
/* @noflip */
/* @noflip */
.fb_dialog_content .dialog_title > span{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif)
no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}

#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}
#fb-root #fb_dialog_ipad_overlay.hidden{display:none}
.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}

.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%
}

.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}

#fb_dialog_loader_close{float:left}

.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}
.fb_iframe_widget iframe{position:absolute}

.fb_hide_iframes iframe{position:relative;left:-10000px}

.fb_iframe_widget_fluid span{width:100%}
.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}

.fb_connect_bar_container div,
.fb_connect_bar_container span,
.fb_connect_bar_container a,
.fb_connect_bar_container img,
.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}

.fb_connect_bar a:hover{color:#fff}
.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}
.fb_connect_bar div a,
.fb_connect_bar span,
.fb_connect_bar span a{color:#bac6da;font-size:11px;text-decoration:none}

/* @noflip */
/* @noflip */
